.post {
  display: flex;
  align-items: center;
  gap: 200px;
  margin-bottom: 50px;
  /* border: 1px solid#555;
  border-radius: 15px; */
}
.post:nth-child(odd) {
  flex-direction: row-reverse;
  gap: 50px;
}
.image {
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(117, 165, 177, 1), 0 6px 20px 0 rgba(117, 165, 177, 1);
}
.buttonLocate{
  text-align: end;
}
.title {
  font-weight: 700;
  color: rgba(117, 165, 177, 1);
  margin-bottom: 10px;
  text-align: right;
}
.text {
  font-size: 18px;
  color: #999;
  margin-bottom: 10px;
  text-align: right;
}
.partition{
  font-size: 24px;
  text-align: center;
  color:rgba(117, 165, 177, 1) ;
}
.headTitle{
  color: black;
  font-size: 34px;
  text-align: center;
  margin-bottom: 50px;
}
.button {
  background-color: rgba(117, 165, 177, 1);
  margin-bottom: 10px;
  border-radius: 8px;
  width: 70px;
  margin-inline-start: auto;
  color: white;
  text-align: center;
}
.moreButton {
  border: 2px solid;
  border-color: darkslateblue;
  border-radius: 8px;
  /* text-align: right; */
  width: 150px;
  text-align: center;
  margin-left: 30%;
  /* padding: 0px; */
  
}


.moreButton1{
    color: white;
    margin-bottom: 80px;
    /* background-color: color-mix(in hsl shorter hue, cyan 50%, purple 30%); */
    background: linear-gradient(to right, #75a3b1, #986cac);
    width: 250px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 75px;
}
.title1{
  text-align: center;
  /* margin-top: 50px; */
  direction: rtl;
}
.container{
  max-width: 50%;
  min-height: 100vh;
  margin: 0 auto;
  /* color: red; */
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
.embla__parallax {
  border-radius: 1.8rem;
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.embla__parallax__img {
  max-width: none;
  flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
  object-fit: cover;
}
