@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #262626;
  --background-rgb: #986CAC; 
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: #262626;
    --background-rgb: #986CAC; /* Purple #986CAC */
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-rgb);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-underline{
  text-decoration: underline;
  text-decoration-color: #75A3B1;
}
