@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles.css or your main CSS file */
.circle-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust size as needed */
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better appearance */
  overflow: hidden; /* Ensure content doesn't overflow the circle */
}

.circle-bg svg {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  fill: currentColor; /* Ensures SVG inherits color if needed */
}