.post {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 200px;
  margin-bottom: 50px;
  /* border: 1px solid#555;
  border-radius: 15px; */
}
.post:nth-child(odd) {
  flex-direction: row-reverse;
  gap: 50px;
}
.image {
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(117, 165, 177, 1), 0 6px 20px 0 rgba(117, 165, 177, 1);
}
.buttonLocate{
  text-align: end;
}
.title {
  font-weight: 700;
  color: rgba(117, 165, 177, 1);
  margin-bottom: 10px;
  text-align: right;
}
.text {
  font-size: 18px;
  color: #999;
  margin-bottom: 10px;
  text-align: right;
}
.partition{
  font-size: 24px;
  text-align: center;
  color:rgba(117, 165, 177, 1) ;
}
.headTitle{
  color: black;
  font-size: 34px;
  text-align: center;
  margin-bottom: 50px;
}
.button {
  background-color: rgba(117, 165, 177, 1);
  margin-bottom: 10px;
  border-radius: 8px;
  width: 70px;
  margin-inline-start: auto;
  color: white;
  text-align: center;
}
.moreButton {
  border: 2px solid;
  border-color: darkslateblue;
  border-radius: 8px;
  color: #75a3b1;
  /* text-align: right; */
  width: 150px;
  text-align: center;
  margin-left: 30%;
  /* padding: 0px; */
  
}


.moreButton1{
    color: white;
    margin-bottom: 80px;
    /* background-color: color-mix(in hsl shorter hue, cyan 50%, purple 30%); */
    background: linear-gradient(to right, #75a3b1, #986cac);
    width: 250px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 75px;
}
.title1{
  text-align: center;
  /* margin-top: 50px; */
  direction: rtl;
}
.container{
  max-width: 50%;
  min-height: 100vh;
  margin: 0 auto;
  /* color: red; */
}

.carouselContainer {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.isSelected {
  transform: scale(1.1);
}

.image {
  border-radius: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  color: white;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ccc;
}

