.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80;
    justify-content: center;
}
.logo{
    font-weight: bold;
    font-size: 22px;

}
.links{
display: flex;
gap: 10px;
align-items: center;
/* background-color: white; */
}
.link {
    text-decoration: none;
    color: #ccc;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease, margin-left 0.3s ease; 
}

.active {
    border-bottom: 2px solid white;
    color: white;
    margin-left: 44px;
    transition: color 0.3s ease, border-bottom-color 0.3s ease, margin-left 0.3s ease; 
}
