.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80;
    justify-content: center;
}
.logo{
    font-weight: bold;
    font-size: 22px;

}
.links{
display: flex;
gap: 10px;
align-items: center;
/* background-color: white; */
}
